body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    margin: 50px;
}

h1 {
    font-family: 'Oswald';
    text-align: center;
    color: darkcyan;
    margin: 0px;
}
p {
    font-family: sans-serif;
    text-align: center;
    color: rgb(83, 75, 75);
    font-family: 'Oswald';
}
a {
    font-family: 'Oswald';
    color: rgb(167, 1, 78);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#todays-challenge {
    color: rgb(170, 96, 83);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Oswald';
    margin: 0px;
}

img {
    width: 250px;
    height: 250px;
}